<!DOCTYPE html>
<html>
<head>
    {include file="header"}
</head>
<body>
{include file="loading"}
<div class="layui-main">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>问题回复</legend>
    </fieldset>
    <table class="table">
        <thead>
        <tr>
            <th>问题</th>
            <th>提问时间</th>
            <th>回复</th>
            <th>回复时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach name="list" item="item"}
        <tr>
            <td>{$item.question}</td>
            <td>{$item.question_time}</td>
            <td>{$item.answer}</td>
            <td>{$item.answer_time}</td>
            <td>
                {if empty($item.answer)}
                <a href="javascript:;" data-id="{$item->id}" class="layui-btn layui-btn-mini layui-btn-normal detail">
                    回复
                </a>
                {else/}
                已回复
                {/if}
                <a href="javascript:;" data-id="{$item->id}" class="layui-btn layui-btn-mini layui-btn-danger del">
                            删除
                </a>
           
            </td>
        </tr>
        {/foreach}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="99">
                <div class="pagination-box">
                    <span class="info">
                        共{$list->total()}条数据 {$list->currentPage()}/{$list->lastPage()}页
                    </span>
                    {$list->render()}
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<script>
    layui.use(['base', 'form'], function () {
        var $ = layui.jquery, base = layui.base();
        $(".detail").click(function () {
            var id = $(this).data("id");
            layer.prompt({
                formType: 2,
                value: '',
                title: '请输入回复内容',
                area: ['800px', '350px']
            }, function (value, index, elem) {
                base.request.post({
                    url: "",
                    data: {id: id, content: value},
                    success: function (res) {
                        if (res.code == 200) {
                            layer.msg(res.message, function () {
                                window.location.reload();
                            });
                        } else {
                            layer.msg(res.message);
                        }
                    }
                });
                layer.close(index);
            });
        });
        $(".del").click(function () {
            var id = $(this).data('id');
            layer.confirm('确认删除?', {
                title: '安全提示',
                icon: 3,
                btn: ['确定', '取消']
            }, function () {
                window.location.href = "{:path('delQuestion')}?id=" + id;
            });
        });
        
        
    });
</script>
</body>
</html>